.errore {
    color: red;
    font-style: italic;
    font-size: 300%;
    padding-top: 15%;
    padding-bottom: 20%;
    text-align: center;
}
.norev {
    color: darkgray;
    font-style: italic;
    font-size: 200%;
    padding-top: 25px;
    padding-bottom: 10px;
    text-align: center;
}
.norevm {
    color: darkgray;
    font-style: italic;
    font-size: 120%;
    padding-top: 2px;
    padding-bottom: 30px;
    text-align: center;
}
.revi {
    display: inline-block;
        font-size: 13px;
        color:black;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-weight: 700;
        position: relative;
}
.rev:after {
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background: #cf0707;
    content: "";
}

.set-bg1 {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
}


/*---------------------
  Hero
-----------------------*/
.hero-section2 {
	position: relative;
	padding-top: 17px;
	padding-bottom: 60px;
}
.hero-section2 .container {
	position: relative;
	z-index: 5;
}
.booking-form2 form button {
	display: block;
	font-size: 14px;
	text-transform: uppercase;
	border: 1px solid #cf0707;
	border-radius: 2px;
	color: #cf0707;
	font-weight: 500;
	background: transparent;
	width: 100%;
	height: 46px;
	margin-top: 20px;
}
.booking-form2 {
	background: #ffffff;
	padding: 35px 30px 35px 30px;
	border-radius: 4px;
}
.booking-form2 h3 {
	color: #19191a;
	margin-bottom: 4px;
}

/* unocker */

#unlocker {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 999999;
	background: #dbd8d8de;
}
.unlocker {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 45%;
	left: 45%;
	margin-top: -13px;
	margin-left: -13px;
	border-radius: 60px;
	/* animation: unlocker 0.8s linear infinite; */
	/*-webkit-animation: unlocker 0.8s linear infinite;*/
}
.cent {
	text-align: center;
	padding-top: 30px;
}
.cent img{
	clip-path: circle(37% at 50% 50%);
}

#control {
	padding-top: 11px;
	padding-bottom: 20px;
	outline:1px solid red;
	border:1px solid red;
	border-radius: 5px;
	text-align: center;
	background-color: rgb(235, 158, 158);
}

.tabella1{
	width: 100%;
	border: solid 3px;
	border-color: white;
	
}
.tabella1 tr{
	width: 100%;
	border: solid 1px;
	border-color: white;
	
}
.tabella1 tr td {
	padding-top: 10px;
	padding-bottom: 10px;
	padding-right: 40px;
	padding-left: 15px;
}
.tabella1 td button{
	border-color: white;

}

